// container
$main-container-padding-x: 15px;
$main-container-max-width: 1200px;

// Шрифты
$main-font: 'gilroy','sans-serif';


// цвета
$black-tags: #000;
$black: #333;
$black-light: #52575F;
$white: #fff;
$header-number-bg: #DB052C;
$grey: #AFB3BB;
$tags-bg: #F2F4F7;
$grey-border: #CFD4DA;
$blue: #2168DE;
$green: #2CBC63;