<style>
  .nav__item:nth-child(-n + 6) {
    display: block;
  }
</style>

<header class="header">
  <div class="container header__inner">
    <a class="logo" href="#">
      PRO SPA
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link active" href="#">Сауны</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Бани</a>
        </li> 
        <li class="nav__item">
          <a class="nav__link" href="#">Хаммамы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Бассейны</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">SPA-комплексы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Камины</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Test link 1</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Теые link 2</a>
        </li>
      </ul>
      <button class="nav__btn">
        <span>Ещё</span>
        <svg height="16" width="16">
          <use xlink:href="./images/sprite.svg#icon-arrow-down"></use>
        </svg>
      </button>
    </nav>
    <div class="header__group-btns">
      <a class="header__icons header__notification" href="#" aria-label="Уведомления">
        <svg height="24" width="24">
          <use xlink:href="./images/sprite.svg#icon-notifacation"></use>
        </svg>
        <span>2</span>
      </a>
      <a class="header__icons header__favorite" href="#" aria-label="Избранное">
        <svg height="24" width="24">
          <use xlink:href="./images/sprite.svg#icon-favourite"></use>
         </svg>
        <span>32</span>
      </a>
      <a class="header__btn-order" href="#">Заказать проект</a>
      <a class="header__btn-signin" href="#">Войти</a>
      <button class="header__burger">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="5.5" y1="1.5" x2="24.5" y2="1.5" stroke="#AFB3BB" stroke-width="3" stroke-linecap="butt"/>
        </svg>  
      </button>
    </div>
  </div>
</header>
